* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1.02;
  text-decoration: none;
  scroll-behavior: smooth;
  color: var(--color-secondary);
}

:root {
  --color-bg: #2a1d1d;
  --color-text: #f1eaea;
  --color-primary: #53d8cd;
  --color-secondary: #cbc9cf;
  --color-title: rgb(218, 158, 45);
  --font-header: 4rem;
  --font-title: 2rem;
  --font-text: 1.1rem;
}

body {
  color: var(--color-text);
  background: #2a1d1d;
}

p {
  color: var(--color-secondary);
  line-height: 1.5;
}

li {
  line-height: 1.5;
}
ul {
  list-style: none;
}

a {
  font-weight: 500;
  color: var(--color-text);
}

.text-small {
  font-size: 14px;
}
.navbar ul {
  list-style: none;
}
.navbar li a {
  position: relative;
}
.navbar li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: var(--color-primary);
  bottom: -5px;
  left: 0;
  transition: all 0.4s;
}
.navbar li a:hover::after {
  width: 100%;
}
.navbar a .active {
  color: var(--color-primary);
}
.container {
  margin: 0 50px;
}
.container-home {
  background: linear-gradient(#634444, #2a1d1d);
  padding: 0 50px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 2rem;
  transition: 0.3s;
  z-index: 1000;
}
.heading {
  display: inline-block;
}
.heading::before {
  content: "\279C";
  color: var(--color-title);
  margin-right: 5px;
}
.navbar {
  display: inline-flex;
  flex-wrap: wrap;
}
ul.navbar {
  list-style: none;
}
.navbar li {
  position: relative;
  margin-inline: 7px;
}

#menu-icon {
  font-size: 35px;
  color: var(--color-text);
  z-index: 1100;
  cursor: pointer;
  display: none;
}

.btn-resume{
  font-size: var(--font-text);
  max-width: 180px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-resume:hover {
    transform: scale(1.1);
    background: var(--color-bg);
    color: white;
    border: 2px solid var(--color-primary);
} 

.btn-resume span {
  color: var(--color-bg)
}
.btn-resume:hover span{
  color: var(--color-primary);
}
.btn-resume:hover #download-icon{
  color: var(--color-primary);
}

#download-icon {
  color: var(--color-bg);
  font-size: 25px;
}

section {
  padding: 100px 18%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  align-items: center;
  grid-gap: 2rem;
  text-align: center;
}
.title {
  color: var(--color-title);
  font-size: var(--font-title);
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.underlined {
  text-decoration: underline;
  line-height: 1.25;
}

.home-text h1 {
  margin: 10px 0 25px;
  font-size: var(--font-header);
  line-height: 1;
  font-weight: 500;
  font-size: 40px;
  color: var(--color-title);
}

.home-text h2 {
  color: var(--color-primary);
  font-size: 25px;
  font-weight: 500;
}
.home-text p {
  color: var(--color-secondary);
  margin-bottom: 20px;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 1.5em;
}
.home > img {
  border-radius: 50%;
  margin-bottom: 10px;
}
.home-text a {
  display: inline-block;
}

.social {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 55%;
  right: 20px;
}
.social a {
  padding: 2px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  font-size: 17px;
  margin: 10px auto;
}
.social a::before {
  color: #ffffff;
}

.social a:hover {
  background: var(--color-title);
  transition: all 0.5s;
}
.social::after {
  content: "";
  width: 2px;
  height: 120px;
  background: var(--color-primary);
  margin-top: 15px;
}

.btn {
  color: var(--color-bg);
  background: var(--color-primary);
  border: none;
  border-radius: 30px;
  padding: .6em 1em;
  transition: ease 0.4s;
  cursor: pointer;
}
.home-img img {
  width: 400px;
  height: auto;
}
header.sticky {
  background: var(--color-bg);
  padding: 13px 18%;
  box-shadow: 0px 0px 10px rgb(0 0 0/10%);
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 3rem;
}

.about-img img {
  max-width: 100%;
  width: 400px;
  height: auto;
}

.about-text p {
  line-height: 1.5;
}
.skills {
  margin-left: 2rem;
}
.about-section,
.skill-section,
.education-section,
.experience-section {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}
.skills li::before,
.education-card ul li::before,
.experience-card ul li::before {
  content: "\2022";
  color: var(--color-title);
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1.02em;
}
.experience h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.education-card {
  margin-bottom: 15px;
}
.education-card p {
  margin-left: 25px;
  margin-top: 5px;
}
.experience-card ul,
.education-card ul {
  margin-left: 2rem;
  margin-top: 0.8rem;
}

.experience-card span,
.education-card span {
  color: var(--color-primary);
}
.project-header {
  text-align: center;
  font-size: 1.5rem;
}

.project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-container .wrapper {
  max-width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.card-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-container .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.6s;
  border-radius: 10px;
}
.card-container:hover .info {
  background: rgba(0, 0, 0, 0.8);
}
.card-container .info p {
  opacity: 0;
  transition: all 0.3s;
  font-size: 14px;
}
.card-container .info .tech-stacks {
  color: var(--color-title);
}
.actions button {
  transition: all 0.6s;
  margin: 10px;
  letter-spacing: normal;
  font-size: 14px;
  color: var(--color-bg)
}
.actions button:hover {
  background: #33bdb2

}
.card-container .actions {
  opacity: 0;
  transition: 0.6s;
  margin: 10px;
}
.card-container:hover .actions {
  opacity: 1;
}
.card-container h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
}

.card-container:hover .info p {
  opacity: 1;
}

.more-projects{
  display: flex;
  justify-content: center;
  margin: 15px 0 50px 0;
}

.more-projects a{
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: var(--color-title);
  border-radius: 10px;
  border: 1px solid var(--color-title);
  transition: 0.3s;

}
.more-projects a:hover{
  background-color: black;
}

.contact {
  background: rgb(133, 53, 230);
  max-width: 500px;
  min-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
 .contact h3 {
  color: white;
 }

form{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-top: 20px;

}

form input, form textarea {
  width: 350;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  color: var(--color-bg);
  background: rgb(236, 232, 232);
  resize: none;
  outline: none;
  border: none;
}

form input:focus, form textarea:focus{
  background: white;
  border: 2px solid rgb(255, 136, 0);
}

form button {
  width: 125px;
  font-size: 1.05rem;
  align-self: center;
  color: rgb(43, 42, 42) !important;
  margin-top: 5px;
}

form button:hover {
  background: #38b5aa
}

form button:disabled {
  background: rgb(91, 90, 90);
  color: black;
}

form p{
  color: rgb(241, 237, 231);
  transition: 0.2s;
}

@media (max-width: 1425px) {
  header {
    padding: 16px 3%;
    transition: 0.3s;
  }
  header.sticky {
    padding: 10px 3%;
    transition: 0.3s;
  }
  section {
    padding: 40px 5%;
    transition: 0.3s;
  }
}

@media (max-width: 970px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: var(--color-primary);
    text-align: center;
    transition: all 0.4s;
  }
  .navbar a {
    display: block;
    padding: 1.2rem;
    color: var(--color-bg);
  }
  .navber li {
    margin: 0;
  }
  .navbar a:hover {
    color: #c45016;
  }
  .navbar a::after {
    display: none;
  }
  .navbar.active {
    top: 100%;
  }
}

@media (max-width: 800px) {
  .home {
    grid-template-columns: 1fr;
    /* min-height: 130vh; */
    grid-gap: 1rem;
  }
  .home-text {
    padding-top: 55px;
  }
  .home-img {
    text-align: center;
  }
  .home-img img {
    width: 440px;
    height: auto;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
    margin-bottom: 30px;
  }
  :root {
    --font-title: 2rem;
  }
  section {
    padding: 3%;
    transition: 0.3s;
  }
  .social {
    display: none;
  }
  .container {
    margin: 0 10px;
  }
  .container-home {
    padding: 0 10px;
  }
}

